.Spinner {
  width: 1.8em;
  height: 1.8em;
  margin: 14% auto;
  border: solid 3px #eee;
  border-top: solid 3px rgb(0, 0, 0, 0.8);
  border-right: solid 3px rgb(0, 0, 0, 0.8);
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}